*{
    padding: 15px;
}
body{
    width: 100px;

}
div{
    border:solid #af0b0e 15px;
    margin: 15px auto;
}
div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}
body > div > div > div{
    background-color: aqua;

}
body > div > div {
    background-color: antiquewhite;
}
body > div{
    background-color: blueviolet;
}
p+div{
    color: red;
}
div div div p{
    color: #0c7c07;
}