@keyframes turn {
    from { transform: rotate3d(0, 0, 0, 0); }
    to { transform: rotate3d(1, 1, 0, 360deg); }
  }
  
  .container {
    width: 200px;
    height: 200px;
    perspective: 500px;
    margin: 100px;
  }
  
  .cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: turn 5s linear infinite;
  }
  
  .face {
    width: 200px;
    height: 200px;
    background: rgb(235, 135, 135);
    border: 2px solid rgb(55, 34, 146);
    position: absolute;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    transition: transform 500ms;
  }
  
  .front {
    transform: translateZ(100px);
    background-color: brown;
  }
  
  .back {
    transform: translateZ(-100px) rotateY(180deg);
    background-color: black;
  }
  
  .left {
    transform: translateX(-100px) rotateY(-90deg);
    background-color: beige;
  }
  
  .right {
    transform: translateX(100px) rotateY(90deg);
    background-color: blueviolet;
  }
  
  .top {
    transform: translateY(-100px) rotateX(90deg);
    background-color: blanchedalmond;
  }
  
  .bottom {
    transform: translateY(100px) rotateX(-90deg);
    background-color: yellowgreen;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .cube {
      animation: none;
      transform: rotate3d(1, 1, 0, 45deg);
    }
  }